


<sectioin id="content_compraRural_botiga">
    <div id="itemSantcuimg">
      <picture>
        <a><img src="/rural/web/modules/custom/botiga/img/santcuIcon.png" alt="cono de entrada tienda de Sant Cugat"></a>
      </picture>
    </div>
    <div id="itemText">
        <span>{% trans %}
          ¿On vols rebre la teva cistella?
        {% endtrans %}</span>
    </div>
    
    <div id="itemBcnimg">
      <picture><a><img src="/rural/web/modules/custom/botiga/img/bcnIcon.png" alt="Icono de entrada tienda de Barcelona"></a></picture>
      
    </div>
</section> 