
<sectioin id="content_compraRural_botiga">
  <div id="itemshopSantcu">
      <div class="arrowshop">
          <img src="/rural/web/modules/custom/botiga/img/FarrowSancu.png" alt="">
      </div>

      <div id="iconoSancu">
          <div class="bottomBotiga">
              <div class="imgbottom"><a href="https://laruraldecollserola.com/botiga"> <img id="bottomShopSancu" src="/rural/web/modules/custom/botiga/img/FimgSancu.png" alt="icono shop Sant cugat"> </a></div>
          </div>
          <div class="textIcono">
            <p id="bordeNonSancu"></p>
            <p class="sancu">SANT CUGAT</p>
          </div>
      </div>
  </div>

  <div id="itemText">
    <span>{% trans %}
      ¿On vols rebre la teva cistella?
    {% endtrans %}</span>
  </div>

  <div id="itemshopBcn">
    <div id="iconoBcn">
        <div class="bottomBotiga">
            <div class="imgbottom"><a href="https://laruraldecollserola.com/barcelona"> <img id="bottomShopBcn" src="/rural/web/modules/custom/botiga/img/FimgBcn.png" alt="icono shop Barcelona"> </a></div>
        </div>
        <div class="textIcono">
          <p id="bordeNonBcn"></p>
          <p class="sancu">BARCELONA</p>
        </div>
    </div>
    <div>
      <img src="/rural/web/modules/custom/botiga/img/FarrowBcn.png" alt="">
  </div>
</div>

</sectioin>